<% for entry in @entries do %>
    <h2><%= link_to(entry.title, entry_path(entry)) %></h2>
      <p><%= entry.date %></p>
      <p><%= entry.contents %></p>
<% end %>

<%= link_to("New entry", new_entry_path) %>
<p><%= link_to("Back to landing page", welcome_index_path) %></p>