<body>
  <% for entry in @entries %>
    <h2><%= link_to(entry.title, entry_path(entry)) %></h2>
      <p><%= entry.date %></p>
      <p><%= entry.contents %></p>
  <% end %>
  <%= link_to("New entry", new_entry_path) %>
  <div>
  <h1>Rails help websites</h1>
<% for url, name in @websites %>
  <li><a href="<%= url %>"><%= name %></a></li>
<% end %>
  </div>
  <img src="http://railsgirls.com/images/rg-warsaw.png" />
</body>
